{% extends 'base/main_base.html' %}
{% load thumbnail %}
{% load i18n %}
{% load static %}
{% block title %}{{ home.title }}{% endblock title %}
{% block content %}
    <div class="flexslider flexslider-simple h-full loading">
        <ul class="slides">
            {% for slide in home.sliders.all %}
            <li data-zanim-timeline="{}">
                <section class="py-0">
                    <div>
                        <div class="background-holder elixir-zanimm-scale" style="background-image:url({% thumbnail slide.image "2003x1053" crop="center" as im %}{{ im.url }}{% endthumbnail %});" data-zanimm='{"from":{"opacity":0.1,"filter":"blur(10px)","scale":1.05},"to":{"opacity":1,"filter":"blur(0px)","scale":1}}'>
                        </div>
                        <!--/.background-holder-->
                        <div class="container">
                            <div class="row h-full py-8 align-items-center" data-inertia='{"weight":1.5}'>
                                <div class="col-sm-8 col-lg-7 px-5 px-sm-3 back" data-zanim='{"delay":0}'>
                                    <div class="overflow-hidden">
                                        <h1 class="fs-4 fs-md-5 zopacity" data-zanim='{"delay":0}'>{{ slide.title }}</h1>
                                    </div>
                                    <div class="overflow-hidden">
                                        <p class="color-primary mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity" data-zanim='{"delay":0.1}'>{{ slide.description|truncatewords:15 }}</p>
                                    </div>
                                    <div class="overflow-hidden">
                                        <div class="zopacity" data-zanim='{"delay":0.2}'>
                                            {% if slide.link %}
                                            <a class="btn btn-primary mr-3 mt-3" href="{{ slide.link }}">{% trans "Read more" %}<span class="fa fa-chevron-right ml-2"></span></a>
                                            {% endif %}
                                            <a class="btn btn-warning mt-3" href="{% url "contact:page" %}">{% trans "Contact us" %}<span class="fa fa-chevron-right ml-2"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.container-->
                </section>
            </li>
            {% endfor %}
        </ul>
    </div>
    <section class="background-white  text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 col-md-6">
                    <h3 class="color-primary fs-2 fs-lg-3">{% trans "Welcome to the Hanse" %}</h3>
                    <p class="px-lg-4 mt-3">{{ home.about|safe }}</p>
                    <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" />
                </div>
            </div>
            {% if home.features.all %}
            <div class="row mt-4 mt-md-5">
                {% for item in home.features.all  %}
                <div class="col-sm-4 col-lg-4 mt-4" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                    <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"delay":0}' style="height:100px; width:100px"><span class="{{ item.icon }} fs-3 color-blueish mx-auto fw-600"></span></div>
                    <h5 class="mt-4" data-zanim='{"delay":0.1}'>{{ item.title }}</h5>
                    <p class="mb-0 mt-3 px-3" data-zanim='{"delay":0.2}'>{{ item.description }}</p>
                </div>
                {% endfor %}               
            </div>
            {% endif %}
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <section class="background-11">
        <div class="container">
            <h3 class="text-center fs-2 fs-md-3">{% trans "Our business lines" %}</h3>
            <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" />
            {% for trade in trading  %}
            <div class="row no-gutters pos-relative {% if forloop.first %}mt-6{% endif %}">
                <div class="elixir-caret d-none d-lg-block"></div>
                <div class="col-lg-6 py-3 py-lg-0 mb-0 {% cycle '' 'order-lg-2' %}" style="min-height:400px;">
                    <div class="{% cycle 'background-holder radius-tl-secondary radius-tr-secondary radius-tr-lg-0' 'background-holder radius-tl-secondary radius-tl-lg-0 radius-tr-secondary radius-tr-lg-0' %}" style="background-image:url({% thumbnail trade.image "655x500" crop="center" as im %}{{ im.url }}{% endthumbnail %});">
                    </div>
                    <!--/.background-holder-->
                </div>
                <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0 radius-tr-lg-secondary">
                    <div class="d-flex align-items-center h-100">
                        <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                            <div class="overflow-hidden">
                                <h5 data-zanim='{"delay":0}'>{% trans "Trading Line" %}</h5>
                                <h5 data-zanim='{"delay":0}'>{{ trade.title }}</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="mt-3" data-zanim='{"delay":0.1}'>{{ trade.description|safe|truncatewords:40 }}</p>
                            </div>
                            <div class="overflow-hidden">
                                <div data-zanim='{"delay":0.2}'><a class="d-flex align-items-center" href="{% url "trading:line" trade.slug %}">{% trans "Learn More" %} <div class="overflow-hidden ml-2"><span class="d-inline-block" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'>&xrarr;</span></div></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for invest in investment  %}
            <div class="row no-gutters pos-relative">
                <div class="elixir-caret d-none d-lg-block"></div>
                <div class="col-lg-6 py-3 py-lg-0 mb-0 {% cycle '' 'order-lg-2' %}" style="min-height:400px;">
                    <div class="{% cycle 'background-holder radius-tl-secondary radius-tr-secondary radius-tr-lg-0' 'background-holder radius-tl-secondary radius-tl-lg-0 radius-tr-secondary radius-tr-lg-0' %}" style="background-image:url({% thumbnail invest.image "655x500" crop="center" as im %}{{ im.url }}{% endthumbnail %});">
                    </div>
                    <!--/.background-holder-->
                </div>
                <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0 radius-tr-lg-secondary">
                    <div class="d-flex align-items-center h-100">
                        <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                            <div class="overflow-hidden">
                                <h5 data-zanim='{"delay":0}'>{% trans "Investment Line" %}</h5>
                                <h5 data-zanim='{"delay":0}'>{{ invest.title }}</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="mt-3" data-zanim='{"delay":0.1}'>{{ invest.description|safe|truncatewords:40 }}</p>
                            </div>
                            <div class="overflow-hidden">
                                <div data-zanim='{"delay":0.2}'><a class="d-flex align-items-center" href="{% url "investment:line" invest.slug %}">{% trans "Learn More" %} <div class="overflow-hidden ml-2"><span class="d-inline-block" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'>&xrarr;</span></div></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <section>
        <div class="container">
            <div class="row mb-6">
                <div class="col">
                    <h3 class="text-center fs-2 fs-lg-3">{% trans "Why Choose Hanse" %}</h3>
                    <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 pr-0 pr-lg-3">
                    {% thumbnail home.image_vmv "640x580" crop="center" as im %}
                        <img class="radius-secondary" src="{{ im.url }}" alt="why-choose-hanse" />
                    {% endthumbnail %}
                </div>
                <div class="col-lg-6 px-lg-5 mt-6 mt-lg-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <div class="px-4 px-sm-0" data-zanim='{"delay":0}'>
                            <h5 class="fs-0 fs-lg-1"><span class="ion-chatbubble-working fs-2 mr-2 icon-position-fix fw-800"></span>{% trans "Vision" %}</h5>
                            <p class="mt-3 px-lg-3">{{ home.vision|safe }}</p>
                        </div>
                    </div>
                    <div class="overflow-hidden">
                        <div class="px-4 px-sm-0 mt-5" data-zanim='{"delay":0.1}'>
                            <h5 class="fs-0 fs-lg-1"><span class="ion-android-color-palette fs-2 mr-2 icon-position-fix fw-800"></span>{% trans "Mission" %}</h5>
                            <p class="mt-3 px-lg-3">{{ home.mission|safe }}</p>
                        </div>
                    </div>
                    <div class="overflow-hidden">
                        <div class="px-4 px-sm-0 mt-5" data-zanim='{"delay":0.2}'>
                            <h5 class="fs-0 fs-lg-1"><span class="ion-ios-timer fs-2 mr-2 icon-position-fix fw-600"></span>{% trans "Values" %}</h5>
                            <p class="mt-3 px-lg-3">{{ home.values|safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    {% include "base/shared/contact_share.html" %}
    {% if home.customer.all %}
    <section class=" background-white">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="owl-carousel owl-theme owl-dot-round" data-options='{"nav":true,"dots":false,"loop":true,"autoplay":true,"autoplayHoverPause":true,"items":1}'>
                        {% for review in home.customer.all  %}
                            <div class="row px-lg-8">
                                <div class="col-4 col-md-3 mx-auto">
                                    {% thumbnail review.image "295x295" crop="center" as im %}
                                        <img class="radius-secondary mx-auto" src="{{ im.url }}" alt="{{ review.name }}" style="width: auto" />
                                    {% endthumbnail %}
                                </div>
                                <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3">
                                    <p class="lead fw-400">{{ review.description }}</p>
                                    <h6 class="fs-0 mb-1 mt-4">{{ review.name }}</h6>
                                    <p class="mb-0 color-7">{{ review.position }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    {% endif %}
    {% if home.brands.all %}
    <section class="background-10 py-6">
        <div class="container">
            <div class="row align-items-center justify-content-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                {% for item in home.brands.all %}
                <div class="col-4 col-md-2 my-3 overflow-hidden">
                    {% thumbnail item.image "170x95" crop="center" as im %}
                        <img src="{{ im.url }}" alt="{{ item.title }}" data-zanim="{}" />
                    {% endthumbnail %}
                </div>
                {% endfor %}
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    {% endif %}
{% endblock content %}