{% extends 'base/main_base.html' %}
{% load static %}
{% block content %}
    <div class="flexslider flexslider-simple h-full loading">
        <ul class="slides">
            <li data-zanim-timeline="{}">
                <section class="py-0">
                    <div>
                        <div class="background-holder elixir-zanimm-scale" style="background-image:url({% static "images/header-6.jpg" %});" data-zanimm='{"from":{"opacity":0.1,"filter":"blur(10px)","scale":1.05},"to":{"opacity":1,"filter":"blur(0px)","scale":1}}'>
                        </div>
                        <!--/.background-holder-->
                        <div class="container">
                            <div class="row h-full py-8 align-items-center" data-inertia='{"weight":1.5}'>
                                <div class="col-sm-8 col-lg-7 px-5 px-sm-3">
                                    <div class="overflow-hidden">
                                        <h1 class="fs-4 fs-md-5 zopacity" data-zanim='{"delay":0}'>Helping Leaders</h1>
                                    </div>
                                    <div class="overflow-hidden">
                                        <p class="color-primary mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity" data-zanim='{"delay":0.1}'>We look forward to help you in taking your company to new height.</p>
                                    </div>
                                    <div class="overflow-hidden">
                                        <div class="zopacity" data-zanim='{"delay":0.2}'><a class="btn btn-primary mr-3 mt-3" href="#">Read more<span class="fa fa-chevron-right ml-2"></span></a><a class="btn btn-warning mt-3" href="contact.html">Contact us<span class="fa fa-chevron-right ml-2"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.container-->
                </section>
            </li>
            <li data-zanim-timeline="{}">
                <section class="py-0">
                    <div>
                        <div class="background-holder elixir-zanimm-scale" style="background-image:url({% static "images/header-5.jpg" %});" data-zanimm='{"from":{"opacity":0.1,"filter":"blur(10px)","scale":1.05},"to":{"opacity":1,"filter":"blur(0px)","scale":1}}'>
                        </div>
                        <!--/.background-holder-->
                        <div class="container">
                            <div class="row h-full py-8 align-items-center" data-inertia='{"weight":1.5}'>
                                <div class="col-sm-8 col-lg-7 px-5 px-sm-3">
                                    <div class="overflow-hidden">
                                        <h1 class="fs-4 fs-md-5 zopacity" data-zanim='{"delay":0}'>Expert Consultants</h1>
                                    </div>
                                    <div class="overflow-hidden">
                                        <p class="color-primary mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity" data-zanim='{"delay":0.1}'>Over 10 years of experience in helping clients finding comprehensive solutions.</p>
                                    </div>
                                    <div class="overflow-hidden">
                                        <div class="zopacity" data-zanim='{"delay":0.2}'><a class="btn btn-primary mr-3 mt-3" href="#">Read more<span class="fa fa-chevron-right ml-2"></span></a><a class="btn btn-warning mt-3" href="contact.html">Contact us<span class="fa fa-chevron-right ml-2"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.container-->
                </section>
            </li>
            <li data-zanim-timeline="{}">
                <section class="py-0">
                    <div>
                        <div class="background-holder elixir-zanimm-scale" style="background-image:url({% static "images/header-1.jpg" %});" data-zanimm='{"from":{"opacity":0.1,"filter":"blur(10px)","scale":1.05},"to":{"opacity":1,"filter":"blur(0px)","scale":1}}'>
                        </div>
                        <!--/.background-holder-->
                        <div class="container">
                            <div class="row h-full py-8 align-items-center" data-inertia='{"weight":1.5}'>
                                <div class="col-sm-8 col-lg-7 px-5 px-sm-3">
                                    <div class="overflow-hidden">
                                        <h1 class="fs-4 fs-md-5 zopacity" data-zanim='{"delay":0}'>Growth Partners</h1>
                                    </div>
                                    <div class="overflow-hidden">
                                        <p class="color-primary mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity" data-zanim='{"delay":0.1}'>Connect with top consultants hand-picked by Elixir consulting and finance. </p>
                                    </div>
                                    <div class="overflow-hidden">
                                        <div class="zopacity" data-zanim='{"delay":0.2}'><a class="btn btn-primary mr-3 mt-3" href="#">Read more<span class="fa fa-chevron-right ml-2"></span></a><a class="btn btn-warning mt-3" href="contact.html">Contact us<span class="fa fa-chevron-right ml-2"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.container-->
                </section>
            </li>
        </ul>
    </div>
    <section class="background-white  text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 col-md-6">
                    <h3 class="color-primary fs-2 fs-lg-3">Welcome to the Elixir</h3>
                    <p class="px-lg-4 mt-3">Get expert consultancy and support with Elixir, an advisory firm that stand by your side always.</p>
                    <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" />
                </div>
            </div>
            <div class="row mt-4 mt-md-5">
                <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                    <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"delay":0}' style="height:100px; width:100px"><span class="icon-Bar-Chart5 fs-3 color-blueish mx-auto fw-600"></span></div>
                    <h5 class="mt-4" data-zanim='{"delay":0.1}'>Business Consulting</h5>
                    <p class="mb-0 mt-3 px-3" data-zanim='{"delay":0.2}'>Solution for every business related problems, readily <br />and skillfully.</p>
                </div>
                <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                    <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"trigger":"scroll"}' style="height:100px; width:100px"><span class="icon-Clock fs-3 color-blueish mx-auto fw-600"></span></div>
                    <h5 class="mt-4" data-zanim='{"delay":0.1}'>Risk Management</h5>
                    <p class="mb-0 mt-3 px-3" data-zanim='{"delay":0.2}'>Calculate every possible risk in your business, take <br />control over them.</p>
                </div>
                <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                    <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"trigger":"scroll"}' style="height:100px; width:100px"><span class="icon-Idea-2 fs-3 color-blueish mx-auto fw-600"></span></div>
                    <h5 class="mt-4" data-zanim='{"delay":0.1}'>Market Research</h5>
                    <p class="mb-0 mt-3 px-3" data-zanim='{"delay":0.2}'>Know the market before taking any step, reduce <br />risks before you go. </p>
                </div>
                <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                    <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"trigger":"scroll"}' style="height:100px; width:100px"><span class="icon-Headset fs-3 color-blueish mx-auto fw-600"></span></div>
                    <h5 class="mt-4" data-zanim='{"delay":0.1}'>Quality Services</h5>
                    <p class="mb-0 mt-3 px-3" data-zanim='{"delay":0.2}'>Experience unparalleled service, from beginning<br />to final construction.</p>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <section class="background-11">
        <div class="container">
            <h3 class="text-center fs-2 fs-md-3">Our Services</h3>
            <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" />
            <div class="row no-gutters pos-relative mt-6">
                <div class="elixir-caret d-none d-lg-block"></div>
                <div class="col-lg-6 py-3 py-lg-0 mb-0" style="min-height:400px;">
                    <div class="background-holder radius-tl-secondary radius-tr-secondary radius-tr-lg-0" style="background-image:url({% static "images/6.jpg" %});">
                    </div>
                    <!--/.background-holder-->
                </div>
                <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0 radius-tr-lg-secondary">
                    <div class="d-flex align-items-center h-100">
                        <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                            <div class="overflow-hidden">
                                <h5 data-zanim='{"delay":0}'>Business Consulting</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="mt-3" data-zanim='{"delay":0.1}'>As one of the world’s largest accountancy networks, elixir helps a diverse range of clients with a diverse range of needs.This is especially true of our Advisory Practice, which provides corporate finance and transaction services, business restructuring.</p>
                            </div>
                            <div class="overflow-hidden">
                                <div data-zanim='{"delay":0.2}'><a class="d-flex align-items-center" href="#">Learn More <div class="overflow-hidden ml-2"><span class="d-inline-block" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'>&xrarr;</span></div></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters pos-relative mt-4 mt-lg-0">
                <div class="elixir-caret d-none d-lg-block"></div>
                <div class="col-lg-6 py-3 py-lg-0 mb-0 order-lg-2" style="min-height:400px;">
                    <div class="background-holder radius-tl-secondary radius-tl-lg-0 radius-tr-secondary radius-tr-lg-0" style="background-image:url({% static "images/7.jpg" %});">
                    </div>
                    <!--/.background-holder-->
                </div>
                <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0">
                    <div class="d-flex align-items-center h-100">
                        <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                            <div class="overflow-hidden">
                                <h5 data-zanim='{"delay":0}'>Tax consulting</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="mt-3" data-zanim='{"delay":0.1}'>Elixir serves clients across the country and around the world as they navigate an increasingly complex tax landscape. Our tax professionals draw on deep experience and industry-specific knowledge to deliver clients the insights and innovation they need.</p>
                            </div>
                            <div class="overflow-hidden">
                                <div data-zanim='{"delay":0.2}'><a class="d-flex align-items-center" href="#">Learn More <div class="overflow-hidden ml-2"><span class="d-inline-block" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'>&xrarr;</span></div></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters pos-relative mt-4 mt-lg-0">
                <div class="elixir-caret d-none d-lg-block"></div>
                <div class="col-lg-6 py-3 py-lg-0 mb-0" style="min-height:400px;">
                    <div class="background-holder radius-tl-secondary radius-tr-secondary radius-tr-lg-0 radius-tl-lg-0 radius-bl-0 radius-bl-lg-secondary" style="background-image:url({% static "images/8.jpg" %});">
                    </div>
                    <!--/.background-holder-->
                </div>
                <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary">
                    <div class="d-flex align-items-center h-100">
                        <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                            <div class="overflow-hidden">
                                <h5 data-zanim='{"delay":0}'>Advisory</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="mt-3" data-zanim='{"delay":0.1}'>To help you understand what this road looks like, we surveyed 1165 digital marketers across Europe and North America to explore current trends and priorities in digital marketing.</p>
                            </div>
                            <div class="overflow-hidden">
                                <div data-zanim='{"delay":0.2}'><a class="d-flex align-items-center" href="#">Learn More <div class="overflow-hidden ml-2"><span class="d-inline-block" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'>&xrarr;</span></div></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <section>
        <div class="container">
            <div class="row mb-6">
                <div class="col">
                    <h3 class="text-center fs-2 fs-lg-3">Why Choose Elixir</h3>
                    <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 pr-0 pr-lg-3"><img class="radius-secondary" src="{% static "images/why-choose-us.jpg" %}" alt="" /></div>
                <div class="col-lg-6 px-lg-5 mt-6 mt-lg-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <div class="px-4 px-sm-0" data-zanim='{"delay":0}'>
                            <h5 class="fs-0 fs-lg-1"><span class="ion-chatbubble-working fs-2 mr-2 icon-position-fix fw-800"></span>We Are Professional</h5>
                            <p class="mt-3 px-lg-3">We resource, train, speak, mentor and encourage; marketplace leaders, business owners and career professionals to be effective in the workplace.</p>
                        </div>
                    </div>
                    <div class="overflow-hidden">
                        <div class="px-4 px-sm-0 mt-5" data-zanim='{"delay":0.1}'>
                            <h5 class="fs-0 fs-lg-1"><span class="ion-android-color-palette fs-2 mr-2 icon-position-fix fw-800"></span>We Are Creative</h5>
                            <p class="mt-3 px-lg-3">With so many factors to consider when deciding how to characterize your company , wouldn’t it be great to have a group of forward-thinking, well-informed individuals on board who know what they’re doing?</p>
                        </div>
                    </div>
                    <div class="overflow-hidden">
                        <div class="px-4 px-sm-0 mt-5" data-zanim='{"delay":0.2}'>
                            <h5 class="fs-0 fs-lg-1"><span class="ion-ios-timer fs-2 mr-2 icon-position-fix fw-600"></span>24/7 Great Support</h5>
                            <p class="mt-3 px-lg-3">Design clever and compelling marketing strategies, improve product positioning, and drive conversion rates, Elixir is all time available to guide you.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <section class=" background-primary py-6">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md">
                    <h4 class="color-white mb-0">If you have any query related investment... <br class="d-md-none" />we are available 24/7</h4>
                </div>
                <div class="col-md-auto mt-md-0 mt-4"><a class="btn btn-white btn-capsule" href="contact.html">Contact Us</a></div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <section class=" background-white">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="owl-carousel owl-theme owl-dot-round" data-options='{"nav":true,"dots":false,"loop":true,"autoplay":true,"autoplayHoverPause":true,"items":1}'>
                        <div class="row px-lg-8">
                            <div class="col-4 col-md-3 mx-auto"><img class="radius-secondary mx-auto" src="{% static "images/client1.png" %}" alt="Member" style="width: auto" /></div>
                            <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3">
                                <p class="lead fw-400">Their work on our website and Internet marketing has made a significant different to our business. We’ve seen a 425% increase in quote requests from the website which has been pretty remarkable – but I’d always like to see more!</p>
                                <h6 class="fs-0 mb-1 mt-4">Michael Clarke</h6>
                                <p class="mb-0 color-7">CEO, A.E.T Institute</p>
                            </div>
                        </div>
                        <div class="row px-lg-8">
                            <div class="col-4 col-md-3 mx-auto"><img class="radius-secondary mx-auto" src="{% static "images/client2.png" %}" alt="Member" style="width: auto" /></div>
                            <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3">
                                <p class="lead fw-400">Writing case studies was a daunting task for us. We didn’t know where to begin or what questions to ask, and clients never seemed to follow through when we asked. Elixir team did everything – with almost no time or effort for me!</p>
                                <h6 class="fs-0 mb-1 mt-4">Maria Sharapova</h6>
                                <p class="mb-0 color-7">Managing Director, Themewagon Inc.</p>
                            </div>
                        </div>
                        <div class="row px-lg-8">
                            <div class="col-4 col-md-3 mx-auto"><img class="radius-secondary mx-auto" src="{% static "images/client3.png" %}" alt="Member" style="width: auto" /></div>
                            <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3">
                                <p class="lead fw-400">As a sales gamification company, we were skeptical to work with a consultant to optimize our sales emails, but Elixir was highly recommended by many other Y-Combinator startups we knew. Elixir helped us run a ~6 week email campaign.</p>
                                <h6 class="fs-0 mb-1 mt-4">David Beckham</h6>
                                <p class="mb-0 color-7">Chairman, Harmony Corporation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <section class="background-10 py-6">
        <div class="container">
            <div class="row align-items-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="col-4 col-md-2 my-3 overflow-hidden"><img src="{% static "images/partner/logo2.png" %}" alt="" data-zanim="{}" /></div>
                <div class="col-4 col-md-2 my-3 overflow-hidden"><img src="{% static "images/partner/logo1.png" %}" alt="" data-zanim="{}" /></div>
                <div class="col-4 col-md-2 my-3 overflow-hidden"><img src="{% static "images/partner/logo6.png" %}" alt="" data-zanim="{}" /></div>
                <div class="col-4 col-md-2 my-3 overflow-hidden"><img src="{% static "images/partner/logo3.png" %}" alt="" data-zanim="{}" /></div>
                <div class="col-4 col-md-2 my-3 overflow-hidden"><img src="{% static "images/partner/logo5.png" %}" alt="" data-zanim="{}" /></div>
                <div class="col-4 col-md-2 my-3 overflow-hidden"><img src="{% static "images/partner/logo4.png" %}" alt="" data-zanim="{}" /></div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <section class="background-11">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-center fs-2 fs-lg-3">Our business lines</h3>
                    <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" />
                </div>
            </div>
            <div class="row mt-lg-6">
                <div class="col-md-6 col-lg-6 py-0 mt-4 mt-lg-0">
                    <div class="background-white pb-4 h-100 radius-secondary"><img class="w-100 radius-tr-secondary radius-tl-secondary" src="{% static "images/9.jpg" %}" alt="Featured Image" />
                        <div class="px-4 pt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                            <div class="overflow-hidden"><a href="news.html">
                                    <h5 data-zanim='{"delay":0}'>Tax impacts of lease mean accounting change</h5>
                                </a></div>
                            <div class="overflow-hidden">
                                <p class="color-7" data-zanim='{"delay":0.1}'>By Paul O'Sullivan</p>
                            </div>
                            <div class="overflow-hidden">
                                <p class="mt-3" data-zanim='{"delay":0.2}'>HMRC released a consultation document to flag some potential tax impacts that a forthcoming change...</p>
                            </div>
                            <div class="overflow-hidden">
                                <div class="d-inline-block" data-zanim='{"delay":0.3}'><a class="d-flex align-items-center" href="#">Learn More <div class="overflow-hidden ml-2" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'><span class="d-inline-block">&xrarr;</span></div></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 py-0 mt-4 mt-lg-0">
                    <div class="background-white pb-4 h-100 radius-secondary"><img class="w-100 radius-tr-secondary radius-tl-secondary" src="{% static "images/10.jpg" %}" alt="Featured Image" />
                        <div class="px-4 pt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                            <div class="overflow-hidden"><a href="news.html">
                                    <h5 data-zanim='{"delay":0}'>What brexit means for data protection law</h5>
                                </a></div>
                            <div class="overflow-hidden">
                                <p class="color-7" data-zanim='{"delay":0.1}'>By Enrico Ambrosi</p>
                            </div>
                            <div class="overflow-hidden">
                                <p class="mt-3" data-zanim='{"delay":0.2}'>Assuming that the referendum is not ignored completely, there are two possible futures for the UK...</p>
                            </div>
                            <div class="overflow-hidden">
                                <div class="d-inline-block" data-zanim='{"delay":0.3}'><a class="d-flex align-items-center" href="#">Learn More <div class="overflow-hidden ml-2" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'><span class="d-inline-block">&xrarr;</span></div></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
{% endblock content %}