<section class=" background-primary py-6">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md">
                <h4 class="color-white mb-0">If you have any query related investment... <br class="d-md-none" />we are available 24/7</h4>
            </div>
            <div class="col-md-auto mt-md-0 mt-4"><a class="btn btn-white btn-capsule" href="contact.html">Contact Us</a></div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>