{% load i18n %}
{% load static %}
<section style="background-color: #a11216">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="background-primary color-white p-5 p-lg-6 radius-secondary">
                    <h4 class="color-white fs-1 fs-lg-2 mb-1">{% trans "Sign up for email alerts" %}</h4>
                    <p class="color-white">{% trans "Stay current with our latest insights" %}</p>
                    <form class="mt-4">
                        <div class="row align-items-center">
                            <div class="col-md-7 pr-md-0">
                                <div class="input-group">
                                    <input class="form-control" type="email" placeholder="Enter Email Here" />
                                </div>
                            </div>
                            <div class="col-md-5 mt-3 mt-md-0">
                                <button class="btn btn-warning btn-block" type="submit"><span class="color-primary fw-600">{% trans "" %}Submit</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="row">
                    <div class="col-6 col-lg-4 color-white ml-lg-auto">
                        <ul class="list-unstyled">
                            {% for page in info.links.all  %}
                                <li class="mb-3"><a class="color-white" href="{{ page.link }}">{{ page.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-6 col-sm-5 ml-sm-auto">
                        {% for social in info.socials.all  %}
                        <a href="{{ social.link }}">
                        <div class="row mb-3 align-items-center no-gutters">
                            <div class="col-auto">
                                <div class="background-primary text-center d-flex align-items-center radius-primary" style="height: 40px; width: 40px;"><span class="w-100 fa {{ social.icon }} color-white"></span></div>
                            </div>
                            <div class="col-6 pl-3">
                                <h5 class="fs-0 color-white mb-0 d-inline-block">{{ social.label }}</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-primary text-center py-4">
    <div class="container">
        <div class="row align-items-center" style="opacity: 0.85">
            <div class="col-sm-3 text-sm-left"><a href="{% url "page:index" %}"><img src="{{ info.logo.url }}" alt="{{ info.title }}" /></a></div>
            <div class="col-sm-6 mt-3 mt-sm-0">
                <p class="color-white lh-6 mb-0 fw-600">&copy; {% trans "Copyright" %} <script>document.write(/\d{4}/.exec(Date())[0])</script> {% trans "Hanse Trading GmbH" %}.</p>
            </div>
            <div class="col text-sm-right mt-3 mt-sm-0"><a class="color-white" href="https://farzinshams.com/" target="_blank"> {% trans "Designed by" %} Farzin</a></div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>