{% load static %}
<section class="background-primary py-3 d-none d-sm-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto d-none d-lg-block"><span class="fa fa-map-marker color-warning fw-800 icon-position-fix"></span>
                <p class="ml-2 mb-0 fs--1 d-inline color-white fw-700">{{ info.address }} </p>
            </div>
            <div class="col-auto ml-md-auto order-md-2 d-none d-sm-block"><span class="fa fa-clock-o color-warning fw-800 icon-position-fix"></span>
                <p class="ml-2 mb-0 fs--1 d-inline color-white fw-700">Monday - Friday, 09:00 - 17:00.</p>
            </div>
            <div class="col-auto"><span class="fa fa-phone color-warning fw-800 icon-position-fix"></span><a class="ml-2 mb-0 fs--1 d-inline color-white fw-700" href="tel:2123865575">{{ info.phone }}</a></div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<div class="znav-white znav-container sticky-top navbar-elixir" id="znav-container">
    <div class="container">
        <nav class="navbar navbar-expand-lg"><a class="navbar-brand overflow-hidden pr-3" href="{% url "page:index" %}"><img src="{{ info.logo.url }}" alt="" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger hamburger--emphatic">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav fs-0 fw-700">
                    <li><a href="{% url "page:index" %}">Home</a>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="JavaScript:void(0)">business lines</a>
                        <ul class="dropdown fs--1">
                            <li><a href="newsroom.html">Trading Line</a>
                                <ul class="dropdown fs--1">
                                    <li><a href="newsroom.html">Trading Line</a></li>
                                    <li><a href="news.html">Investment Line</a></li>
                                </ul>
                            </li>
                            <li><a href="news.html">Investment Line</a></li>
                        </ul>
                    </li>
                    <li><a class="d-block mr-md-9" href="contact.html">Contact</a></li>
                </ul>
                <ul class="navbar-nav ml-lg-auto">
                    <li><a href="JavaScript:void(0)">En</a>
                        <ul class="dropdown fs--1">
                            <li><a href="components-buttons.html">En</a></li>
                            <li><a href="components-colors.html">De</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>