{% extends "base/main_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ trading.title }}{% endblock title %}
{% block content %}
<section class="background-11 ">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h4 data-zanim='{"delay":0.1}'>{{ trading.title }}</h4>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12"><img class="radius-tr-secondary radius-tl-secondary" src="{{ trading.image.url }}" alt=""></div>
                    <div class="col-12">
                        <div class="background-white p-5 radius-secondary">
                            <p>{{ trading.description|safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
{% endblock content %}