{% load static %}
<link href="{% static "lib/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
<!-- Template specific stylesheets-->
<link href="{% static "lib/loaders.css/loaders.min.css" %}" rel="stylesheet">
{% comment %} <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:300,400,600,700,800" rel="stylesheet"> {% endcomment %}
<link href="{% static "lib/iconsmind/iconsmind.css" %}" rel="stylesheet">
{% comment %} <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"> {% endcomment %}
<link href="{% static "lib/hamburgers/dist/hamburgers.min.css" %}" rel="stylesheet">
<link href="{% static "lib/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
<link href="{% static "lib/owl.carousel/dist/assets/owl.carousel.min.css" %}" rel="stylesheet">
<link href="{% static "lib/owl.carousel/dist/assets/owl.theme.default.min.css" %}" rel="stylesheet">
{% comment %} <link href="{% static "lib/remodal/dist/remodal.css" %}" rel="stylesheet">
<link href="{% static "lib/remodal/dist/remodal-default-theme.css" %}" rel="stylesheet"> {% endcomment %}
<link href="{% static "lib/flexslider/flexslider.css" %}" rel="stylesheet">
<link href="{% static "lib/lightbox2/dist/css/lightbox.css" %}" rel="stylesheet">
<!-- Main stylesheet and color file-->
<link href="{% static "css/style.css" %}" rel="stylesheet">
<link href="{% static "css/custom.css" %}" rel="stylesheet">