{% load static %}
<link href="{% static "lib/owl.carousel/dist/assets/owl.theme.default.min.css" %}" rel="stylesheet">
<link href="{% static "lib/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "lib/loaders.css/loaders.min.css" %}" rel="stylesheet">
<link href="{% static "lib/iconsmind/iconsmind.css" %}" rel="stylesheet">
<link href="{% static "lib/hamburgers/dist/hamburgers.min.css" %}" rel="stylesheet">
<link href="{% static "lib/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
<link href="{% static "lib/owl.carousel/dist/assets/owl.carousel.min.css" %}" rel="stylesheet">
<link href="{% static "lib/flexslider/flexslider.css" %}" rel="stylesheet">
<!-- Main stylesheet and color file-->
<link href="{% static "css/style.css" %}" rel="stylesheet">
<script src="{% static "js/htmx.js" %}"></script>
