{% load render_partial %}
{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--  -->
        <!--    Document Title-->
        <!-- =============================================-->
        <title>Hanse Tranding</title>
        <!--  -->
        <!--    Favicons-->
        <!--    =============================================-->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/favicons/hanse-fav.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicons/hanse-fav.png" %}">
        <meta name="theme-color" content="#ffffff">
        <!--  -->
        <!--    Stylesheets-->
        {% include "base/_header_refrences.html" %}
    </head>
    <body data-spy="scroll" data-target=".inner-link" data-offset="60">
        <main>
        {% include "base/shared/preloader.html" %}
        {% render_partial 'page:head' %}
        {% block content %}{% endblock content %}
        {% render_partial 'page:foot' %}
    </main>
        <!--  -->
        <!--    JavaScripts-->
        {% include "base/_footer_refrences.html" %}
    </body>
</html>