{% extends "base/main_base.html" %}
{% load thumbnail %}
{% load i18n %}
{% load static %}
{% block title %}{{ investment.title }}{% endblock title %}
{% block content %}
<section class="background-11 ">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h4 data-zanim='{"delay":0.1}'>{{ investment.title }}</h4>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        {% thumbnail investment.image "1210x684" crop="center" as im %}
                            <img class="radius-tr-secondary radius-tl-secondary" src="{{ im.url }}" alt="{{ investment.title }}">
                        {% endthumbnail %}
                    </div>
                    <div class="col-12">
                        <div class="background-white p-5 radius-secondary">
                            {{ investment.description|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
{% endblock content %}