{% extends "base/main_base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load static %}
{% block title %}{{ contact.title }}{% endblock title %}
{% block content %}
<section>
    <div>
        <div class="background-holder overlay" style="background-image:url({% thumbnail contact.image "2003x542" crop="center" as im %}{{ im.url }}{% endthumbnail %});background-position: center bottom;">
        </div>
        <!--/.background-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 px-md-0 color-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <h1 class="color-white fs-4 fs-md-5 mb-0 zopacity" data-zanim='{"delay":0}'>{% trans "Contact" %}</h1>
                        <div class="nav zopacity" aria-label="breadcrumb" role="navigation" data-zanim='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 pl-0 fw-700">
                                <li class="breadcrumb-item"><a class="color-white" href="{% url "page:index" %}">{% trans "Home" %}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{% trans "Contact" %}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-11">
    <div class="container">
        <div class="row align-items-stretch justify-content-center">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="h-100 px-5 py-4 background-white radius-secondary">
                    <h5 class="mb-3">{% trans "Hamburg Office" %}</h5>{{ contact.address }}
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="h-100 px-5 py-4 background-white radius-secondary">
                    <h5 class="mb-3">{% trans "Phone" %}</h5><a href="tel:{{ contact.phone|safe }}">{{ contact.phone }}</a>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="h-100 px-5 py-4 background-white radius-secondary">
                    <h5 class="mb-3">{% trans "Email" %}</h5><a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="background-white p-5 radius-secondary">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2365.3505464841815!2d9.969221775473066!3d53.64072141935239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b187d93beff2a1%3A0x3cf5753b5accb061!2sK%C3%B6nig-Heinrich-Weg%20248%2C%2022455%20Hamburg%2C%20Germany!5e0!3m2!1sen!2s!4v1704796211243!5m2!1sen!2s" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="background-white p-5 h-100 radius-secondary">
                    <h5>{% trans "Request a Free Quote" %}</h5>
                    <form class="zform mt-3" action="#" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <input name="name" class="form-control background-white" type="text" placeholder="Your Name" required>
                            </div>
                            <div class="col-12 mt-4">
                                <input name="email" class="form-control background-white" type="email" placeholder="Email" required>
                            </div>
                            <div class="col-12 mt-4">
                                <input name="phone" class="form-control background-white" type="phone" placeholder="Phone" required>
                            </div>
                            <div class="col-12 mt-4">
                                <textarea name="message" class="form-control background-white" rows="11" placeholder="Enter your descriptions here..." required></textarea>
                            </div>
                            <div id='sucess-form' class="col-12 mt-4">
                                <button hx-post="{% url 'contact:add-form' %}" hx-target="#sucess-form" class="btn btn-md-lg btn-primary" type="submit"> <span class="color-white fw-600">{% trans "Send Now" %}</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
{% endblock content %}