{% extends "base/main_base.html" %}
{% load static %}
{% block title %}{{ contact.title }}{% endblock title %}
{% block content %}
<section>
    <div>
        <div class="background-holder overlay" style="background-image:url({{ contact.image.url }});background-position: center bottom;">
        </div>
        <!--/.background-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 px-md-0 color-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <h1 class="color-white fs-4 fs-md-5 mb-0 zopacity" data-zanim='{"delay":0}'>Contact</h1>
                        <div class="nav zopacity" aria-label="breadcrumb" role="navigation" data-zanim='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 pl-0 fw-700">
                                <li class="breadcrumb-item"><a class="color-white" href="{% url "page:index" %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contact</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-11">
    <div class="container">
        <div class="row align-items-stretch justify-content-center">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="h-100 px-5 py-4 background-white radius-secondary">
                    <h5 class="mb-3">Hamburg Office</h5>{{ contact.address }}
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="h-100 px-5 py-4 background-white radius-secondary">
                    <h5 class="mb-3">Phone</h5><a href="tel:{{ contact.phone|safe }}">{{ contact.phone }}</a>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="h-100 px-5 py-4 background-white radius-secondary">
                    <h5 class="mb-3">Email</h5><a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="background-white p-5 radius-secondary">
                    <div class="googlemap" data-latlng="48.8583701,2.2922873,17" data-scrollwheel="false" data-icon="assets/images/map-marker.png" data-zoom="17" data-theme="Tripitty">
                        <div class="marker-content py-3">
                            <h5>Eiffel Tower</h5>
                            <p>Gustave Eiffel's iconic, wrought-iron 1889 tower,<br> with steps and elevators to observation decks.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="background-white p-5 h-100 radius-secondary">
                    <h5>Request a Free Quote</h5>
                    <form class="zform mt-3">
                        <div class="row">
                            <div class="col-12">
                                <input class="form-control" type="hidden" name="to" value="user@domain.extension">
                                <input class="form-control background-white" type="text" placeholder="Your Name" required>
                            </div>
                            <div class="col-12 mt-4">
                                <input class="form-control background-white" type="email" placeholder="Email" required>
                            </div>
                            <div class="col-12 mt-4">
                                <textarea class="form-control background-white" rows="11" placeholder="Enter your descriptions here..." required></textarea>
                            </div>
                            <div class="col-12 mt-4">
                                <div class="row">
                                    <div class="col-auto">
                                        <button class="btn btn-md-lg btn-primary" type="Submit"> <span class="color-white fw-600">Send Now</span></button>
                                    </div>
                                    <div class="col">
                                        <div class="zform-feedback"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
{% endblock content %}